main {
    margin: 0 auto; 
    margin-top: 100px; 
    width: 60%;
}
main ul {
    overflow: hidden;
    background-color: white;
}
.result {
    margin-top: 50px;
}
.result ul {
    padding: 0;
    list-style: none;
    border-color: lightgrey; 
    border-style: solid;
    border-width: 1px; 
    border-radius: 5px;
}
.result li:nth-child(1) {
    color: white;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey; 
    padding: 10px 20px;
    background-color: #4CAF50;
}
.small {
    width: 180px;
    height: 180px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}
.pic{
    /*padding-left: 20px;*/
    height: 210px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: lightgrey;
}
/*.pic:last-child {
    border-bottom-width: 0;
}*/
.show-pic {
    width: 26%;
    overflow: hidden;
    float: left;
}
.description {
    width: 70%; /*如果不设置的话，无法和前面的图片处在同一行*/
    float: left;
}
.description-title {
    font-weight: bold;
}
.description-title, .description-content {
    padding-top: 15px;
    margin-top: 0;
    padding-left: 20px;
}
.description-content {
    padding-right: 20px;
    word-break: break-all;
    word-wrap: break-word;
    padding-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.search ul {
    padding: 0;
    list-style: none;
    border-color: lightgrey; 
    border-style: solid;
    border-width: 1px; 
    border-radius: 5px;
}
.search-form {
    padding-left: 20px;
    padding-bottom: 20px;
}
.search li:nth-child(1) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgrey; 
    padding: 10px 20px;
    background-color: #4CAF50;
}
.search li:nth-child(1) span {
    padding: 0px;
    color: white;
    font-weight: bold;
}
.search li:nth-child(2) {
    padding-top: 10px;
}
.search textarea {
    margin-top: 10px;
    resize: none;
    width: 95%;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px; 
    border-radius: 5px;
    overflow: hidden;
}
.search textarea:nth-of-type(2){
    height: 100px;
}
.filter-button {
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    color: white;
    border-color: #4CAF50;
    background-color: #4CAF50; 
    position: relative;
    bottom: -2px;
    width: 100px;
    border-radius: 5px;
}
.filter-button:hover {
    background-color: green;
}
.pagenumber div{
    display: inline-block;
    cursor: pointer;
    background-color: white;
}
#pagenumber::selection ,#pagenumber td::selection,.pagenumber::selection,.pagenumber div::selection{
    background-color: rgba(255,255,255,0);
}
#pagenums,#pagenums div{
    display: inline-block;
}
#pagenums div.active-page{
    background-color: rgba(0,0,0,1);
    color: white;
}

#pagenums div{
    margin-left: 5px;
    margin-right: 5px;
}
.pic{
    display: none;
}